mixin nav-link(data)
	li.nav-link
		a(href= data.href)= data.name

mixin logo
	.logo
			img(src="../../images/logo.png")
			p Центр развития и творчества

mixin benefit(data)
	li
		a(href= data.href)
			.benefit-bg(style='background-image: url(../../../../src/images/'+data.bgPrimary+');')
			.benefit-content
				.benefit-contentBg(style='background-image: url(../../../../images/icons/bg_1.png));')
				img.benefit-icon(src= data.src)
				p.benefit-text= data.text

mixin footer-link(data)
	li
		a= data.text

